<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lakshmi - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/jquery-ui")
</head>
<body>
    <div class="container-fluid">
        <div class="navbar bg-dark navbar-dark" style="margin-bottom:10px; margin-top:-30px;" role="navigation">
            <div>
                @Html.ActionLink("Lakshmi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Найти пользователя", "FindUsers", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Найти фото", "FindPhotos", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Админка", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            @Html.Partial("_LoginPartial")
        </div>
        <div class="row">
            <div id="genres" class="col-12 col-sm-12">
                @RenderBody()
            </div>            
        </div>

        <div class="modal-footer" style="margin-top: 20px; background-color: #343a40">
            <p>Разработал: Данила Дмитриев</p>
            <a href="https://vk.com/dmitriev077">
                <img src="https://csp59.ru/upload/medialibrary/122/122f190f436ec66831f787d06ce92d9b.png" width="50" height="auto" alt="Вконтакте" />
            </a>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery-ui")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
